<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <center>
    <h1>Hello Maître Itokiana</h1>
    
    <p>
      
    </p>
    <p>
      L'email <%= @user.email%> viens d'effectuer une commande
    </p>
    <p>Bonne journée!</p>
  </center>
  </body>
</html>