<center>
<h1>This is your profile</h1> <br>
<p>your email <%= current_user.email %> </p> <br>
<%= link_to "See your Cart", cart_show_path %> <br>
<%= link_to "Edit account", edit_user_registration_path %>
</center>